.window {
	width: 50rem;
	max-width: 90%;
	margin: 0 auto;
	border-radius: 0.3rem;
	background-color: $very-dark-gray;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.window .window-header {
	height: 37px;
	background: Gainsboro;
	position: relative;
}
.window .window-header .action-buttons {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	background: Crimson;
	border-radius: 50%;
	box-shadow: 15px 0 0 Orange,
				30px 0 0 LimeGreen;
}
.window .window-header .language {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
	height: 21px;
	padding: 0 1em;
	text-align: right;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: transparent;
	font-family: Fira Mono, sans-serif;
	color: DimGrey;
}

.window .window-header .language:hover {
	background: rgba(0, 0, 0, 0.1);
}
.window .window-body {
	position: relative;
	height: 300px;
}
.window .window-body .code-input,
.window .window-body .code-output {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	border: none;
	font-family: Fira Mono, monospace;
	font-size: 13px;
	background: transparent;
	white-space: pre-wrap;
	line-height: 1.5em;
	word-wrap: break-word;
}
.window .window-body .code-input {
	opacity: 0.1;
	margin: 0;
	color: $very-light-gray;
	resize: none;
}
.window .window-body .code-output {
	pointer-events: none;
	z-index: 3;
	margin: 0;
	overflow-y: auto;
}
.window .window-body .code-output code {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 1rem;
	display: block;
	color: $very-light-gray;
}
a.token {
	text-decoration: none;
}
.token.selector,
.token.punctuation,
.token.keyword {
	color: PaleVioletRed;
}
.token.property,
.token.number,
.token.string,
.token.punctuation,
.token.tag-id {
	color: DodgerBlue;
}
.token.function,
.token.attr-name {
	color: CadetBlue;
}
.token.atrule .atrule-id {
	color: BlueViolet;
}
.token.boolean {
	color: LightSlateGray;
}
.token.comment {
	color: DarkGrey;
}
.language-php .variable {
	color: CadetBlue;
}
