// These colors are specific to the theme. Do not use in a package!

@very-light-gray       : #E6E6E6;
@light-gray            : #757575;
@gray                  : #373b41;

@dark-gray             : lighten(#262729, 2);
@very-dark-gray        : #262729;

@dark-gray_retina      : lighten(#2B2C2F, 2);
@very-dark-gray_retina : #2B2C2F;

@white                 : #f3f3f3;
@light-midnight        : #676B79;

@cyan                  : #32DBE6;
@blue                  : #6CB9FF;
@purple                : #B084EB;

@green                 : #13FFDC;
@red                   : #FF2C6D;
@orange                : #ffb86c;
@light-orange          : lighten(@orange, 7);

@pink                  : #FF81C9;
@pink-light            : #BFB8BC;
